<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <script language="JavaScript" type="text/javascript" th:src="@{/library/jquery-3.5.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/homePage.js}"></script>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<!--add driver BEGIN -->
<table id="drivers-table">

  <th>Name</th>
  <th>Number</th>
  <th>Email</th>
  <th>Verification</th>
  <tr th:each="driver:${drivers}">
    <td th:text="${driver.name}" />
    <td th:text="${driver.number}" />
    <td th:text="${driver.email}" />
    <td th:text="${driver.verification}" />
  </tr>
  <tr class="new-driver">
    <td ><input type="text" name="name"/></td>
    <td ><input type="text" name="number"/></td>
    <td ><input type="text" name="email"/></td>
    <td ><input type="text" name="verification"/></td>
  </tr>
  </tbody>


</table>

<button id="add-driver-button" th:onclick="addDriver()" class="button">Add Driver</button>
<!--add driver END -->

<!--add customer BEGIN -->
<table id="customers-table">

  <th>Name</th>
  <th>Number</th>
  <th>Email</th>
  <th>Address</th>
  <th>Verification</th>
  <tr th:each="customer:${customers}">
    <td th:text="${customer.name}" />
    <td th:text="${customer.number}" />
    <td th:text="${customer.email}" />
    <td th:text="${customer.address}" />
    <td th:text="${customer.verification}" />
  </tr>
  <tr class="new-customer">
    <td ><input type="text" name="name"/></td>
    <td ><input type="text" name="number"/></td>
    <td ><input type="text" name="email"/></td>
    <td ><input type="text" name="address"/></td>
    <td ><input type="text" name="verification"/></td>
  </tr>
  </tbody>


</table>

<button id="add-customer-button" th:onclick="addCustomer()" class="button">Add Customer</button>
<!--add customer END -->

<!--add supplier BEGIN -->
<table id="suppliers-table">

  <th>Name</th>
  <th>Details</th>
  <th>Address</th>
  <tr th:each="supplier:${suppliers}">
    <td th:text="${supplier.name}" />
    <td th:text="${supplier.details}" />
    <td th:text="${supplier.address}" />
  </tr>
  <tr class="new-supplier">
    <td ><input type="text" name="name"/></td>
    <td ><input type="text" name="details"/></td>
    <td ><input type="text" name="address"/></td>
  </tr>
  </tbody>


</table>

<button id="add-supplier-button" th:onclick="addSupplier()" class="button">Add Supplier</button>
<!--add supplier END -->

<!--add item BEGIN -->
<table id="items-table">

  <th>Supplier</th>
  <th>Name</th>
  <th>Details</th>
  <th>Price</th>
  <th>Stock</th>
  <tr th:each="itemDTO:${itemsDTO}">
    <td th:text="${itemDTO.supplier}" />
    <td th:text="${itemDTO.name}" />
    <td th:text="${itemDTO.details}" />
    <td th:text="${itemDTO.cost}" />
    <td th:text="${itemDTO.stock}" />
  </tr>
  <tr class="new-item">
    <td ><select id="select-supplier">
      <option th:each="supplier:${suppliersMap}" th:value="${supplier.key}" th:text="${supplier.value}"/>
    </select></td>
    <td ><input type="text" name="name"/></td>
    <td ><input type="text" name="details"/></td>
    <td ><input type="text" name="price"/></td>
    <td ><input type="text" name="stock"/></td>
  </tr>
  </tbody>


</table>

<button id="add-item-button" th:onclick="addItem()" class="button">Add Item</button>
<!--add item END -->

<!--add sales BEGIN -->
<table id="sales-table">

  <th hidden>id</th>
  <th>Customer</th>
  <th>Item</th>
  <th>Driver</th>
  <th>Delivery Address</th>
  <th>Total Item Price</th>
  <th>Delivery Fee</th>
  <th>Accepted By Driver</th>
  <th>Received Date</th>
  <th>Created Date</th>
  <th>Done</th>

  <tr th:each="salesDTO:${salesDTOList}">
    <td th:value="${salesDTO.id}" hidden/>
    <td th:text="${salesDTO.customerName}" />
    <td >
      <ul>
        <li th:each="items:${salesDTO.salesItem}">
          <input type="text" th:value="${items.transactionId}" hidden/>
          <input type="text" th:value="${items.itemName}"/>
          <input type="text" th:value="${items.quantity}"/>
        </li>
      </ul>
    </td>
    <td th:text="${salesDTO.driverName}" />
    <td th:text="${salesDTO.deliveryAddress}" />
    <td th:text="${salesDTO.totalItemPrice}" />
    <td th:text="${salesDTO.deliveryFee}" />
    <td th:text="${salesDTO.acceptedByDriverDate}" />
    <td th:text="${salesDTO.receivedDate}" />
    <td th:text="${salesDTO.createdDate}" />
    <td th:text="${salesDTO.done}" />
  </tr>
  <tr class="new-sales">
    <td ><select id="select-customer">
      <option value=""></option>
      <option th:each="customer:${customersMap}" th:value="${customer.key}" th:text="${customer.value}"/>
    </select></td>
    <td ><ul id="itemSalesList"/><select id="select-item" th:onchange="addItemSales()">
      <option value=""></option>
      <option th:each="item:${itemsMap}" th:value="${item.key}" th:text="${item.value}" />
    </select></td>
    <td ><select id="select-driver">
      <option value=""></option>
      <option th:each="driver:${driversMap}" th:value="${driver.key}" th:text="${driver.value}"/>
    </select></td>
    <td ><input type="text" name="deliveryAddress"/></td>
    <td ><input type="text" name="totalItemPrice"/></td>
    <td ><input type="text" name="deliveryFee"/></td>
    <td ><input type="text" name="acceptedByDriverDate"/></td>
    <td ><input type="text" name="receivedDate"/></td>
    <td ><input type="text" name="createdDate"/></td>
    <td ><input type="text" name="done"/></td>
  </tr>
  </tbody>


</table>

<button id="add-sales-button" th:onclick="addSales()" class="button">Add Sales</button>
<!--add item END -->

</body>
</html>